{% extends 'base.html.twig' %}

{% block title %}Formateur{% endblock %}

{% block body %}

    <h1 class="h1 mb-3 mt-3">{{ formateur }}</h1>

    <h3>Sessions référent <span class="badge badge-primary">{{ formateur.sessions | length }}</span></h3>
    <table class="table table-striped table-dark">
        <thead class="bg-dark text-light">
            <tr>
                <th>Statut</th>
                <th>Formation</th>
                <th>Session</th>
                <th>Date de début</th>
                <th>Date de fin</th>
                <th>Inscrits</th>
            </tr>
        </thead>
        <tbody>
        {% for session in formateur.sessions %}
            <tr class="align-middle">
                <td><span class="badge badge-red">{{ session.statut }}</span></td>
                <td>{{ session.formation }}</td>
                <td><a href="{{ path('show_session', {'id': session.formation.id}) }}">{{ session }}</a></td>
                <td>{{ session.dateDebut | date('d-m-Y') }}</td>
                <td>{{ session.dateFin | date('d-m-Y') }}</td>
                <td>{{ session.stagiaires | length ~ ' / ' ~ session.nbPlaces }}</td>
            </tr>        
        {% endfor %}
        </tbody>
    </table>

{% endblock %}